<% if(footer){ %>
  <div class="footer text-white flex justify-between items-center w-full fixed bottom-0 z-[10] bg-zinc-900 px-5 py-3 shadow-md">
    <div class="max-w-[600px] mx-auto w-full flex justify-between items-center">
      <!-- Home Icon -->
      <a href="/feed" class="flex flex-col items-center text-xs">
        <i class="text-xl ri-home-line"></i>
        <span>Home</span>
      </a>
  
      <!-- Search Icon -->
      <a href="/search" class="flex flex-col items-center text-xs">
        <i class="text-xl ri-search-line"></i>
        <span>Search</span>
      </a>
  
      <!-- Add Post Icon -->
      <a href="/upload" class="flex flex-col items-center text-xs">
        <i class="text-xl ri-add-box-line"></i>
        <span>Add</span>
      </a>
  
      <!-- Profile Icon -->
      <a href="/profile" class="flex flex-col items-center text-xs">
        <div class="w-6 h-6 bg-zinc-300 rounded-full mb-1">
          <img class="w-full h-full object-cover rounded-full" src="/images/uploads/<%= user.profileImage %>" alt="Profile Image">

        </div>
        <span>Profile</span>
      </a>
    </div>
  </div>
<% } %>
